<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends "menu.html" %}
  {% block title %}Посты из категории {{title}}{% endblock %}

  {% block content %}
  <main>
      <section>
      <div class="container">
          <h1>Посты из категории {{title}}</h1>
      </div>
      </section>
      <div>
          {% for post in object_list%}
          <div>
              <h3>{{post}}</h3>
              <p>{{post.content}}</p>
          </div>
          {% endfor %}
      </div>
  </main>
  {% endblock %}
</body>
</html>